<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/legacy/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
	>
	<testsuites>
		<testsuite name="Testing Test Suite">
			<directory suffix=".php">./tests/legacy/unit-tests</directory>
			<directory suffix=".php">./tests/php</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./includes</directory>
			<file>index.php</file>			
		</whitelist>
	</filter>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/legacy/includes/listener-loader.php" />
	</listeners>
</phpunit>